<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6c2885ab71.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top">
            <div class="main-header-logo-busq">
                <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo-header">
                <div class= "barra-busqueda">
                    <input  type="text" placeholder="Buscar productos, marcas">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <h2 class="texto-top-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                compra en cuotas y sin tarjeta de crédito
            </h2>
        </div>
            <nav class="barra-nav-main">
                <ul class="left-nav-bar">
                    <li><a href="#"> Ofertas</a></li>            
                    <li><a href="#"> Tiendas Oficiales</a></li> 
                    <li><a href="#"> Vender</a> </li>
                    <li><a href="#"> Ayuda</a> </li>
                </ul>
                <ul class="right-nav-bar">
                    <li><a href="/register">
                        Creá tu cuenta
                        <i class="fa-solid fa-id-card"></i>
                    </a></li>
                    <li><a href="/login">
                        Ingresá
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a></li>
                    <li><a href="#">
                        Mis compras
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a></li>
                </ul>
            </nav>
        
            <a href="#" class="hamburguer-menu">
                <i class="fa-solid fa-bars"></i>
            </a>
        
    </header>

    <main>
        <section class="home-banner" >
            <img src="images/img-home-banner.jpg" alt="">
        </section>

        <section>
            <h3 class="h2-main">Basado en tu ultima visita</h3>
        
            <section class="ultima-visita-diseño">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class = "container-producto-datos">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio-main">$ 6.770</p>
                        <p> 40% OFF </p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                    <div class = "container-producto-datos">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio-main">$ 230.000</p>
                        <p> 20% OFF </p>
                        <h4>MacBook Pro 2019</h4>  
                    </div> 
                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="S10">
                    <div class = "container-producto-datos">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio-main">$ 70.500</p>
                        <p> 10% OFF </p>
                        <h4>Samsung Galaxy S10</h4> 
                    </div>   
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
                    <div class = "container-producto-datos">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio-main">$ 23.200</p>
                        <p> 5% OFF </p>
                        <h4>SmartTv Samsung 43"</h4>    
                    </div>
                </article>

            </section>
        </section>

        <section>
            <h3 class="h2-main">Ofertas</h3>
            
            <section class="seccion-ofertas-estilo">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class = "container-producto-datos">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio-main">$ 6.770</p>
                        <p> 40% OFF </p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                    <div class = "container-producto-datos">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio-main">$ 230.000</p>
                        <p> 20% OFF </p>
                        <h4>MacBook Pro 2019</h4>
                    </div>    
                </article>

                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="S10">
                    <div class = "container-producto-datos"> 
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio-main">$ 70.500</p>
                        <p> 10% OFF </p>
                        <h4>Samsung Galaxy S10</h4>   
                    </div> 
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv">
                    <div class = "container-producto-datos">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio-main">$ 23.200</p>
                        <p> 5% OFF </p>
                        <h4>SmartTv Samsung 43"</h4>   
                    </div> 
                </article>
            </section>
            
        </section>

    </main>
    <footer>
        <section>
            <div>
                <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        
        </section>
        <div>
            <h4 class="copy-right">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>
</html>