<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/form.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6c2885ab71.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top">
            <div class="main-header-logo-busq">
                <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo-header">
                <div class= "barra-busqueda">
                    <input  type="text" placeholder="Buscar productos, marcas">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <h2 class="texto-top-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                compra en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <nav class="barra-nav-main">
            <ul class="left-nav-bar">
                <li><a href="#"> Ofertas</a></li>            
                <li><a href="#"> Tiendas Oficiales</a></li> 
                <li><a href="#"> Vender</a> </li>
                <li><a href="#"> Ayuda</a> </li>
            </ul>
            <ul class="right-nav-bar">
                <li><a href="/register">
                    Creá tu cuenta
                    <i class="fa-solid fa-id-card"></i>
                </a></li>
                <li><a href="#">
                    Ingresá
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a></li>
                <li><a href="#">
                    Mis compras
                    <i class="fa-solid fa-basket-shopping"></i>
                </a></li>
            </ul>
        </nav>

        
        <a href="#" class="hamburguer-menu">
            <i class="fa-solid fa-bars"></i>
        </a>
    </header>

    <main>
    <form action="" method="" >
        <div class="formulario-login">
            <input class="container-info" type="text" placeholder="Nombre de usuario"></label>
            <input class="container-info" type="password" placeholder="Elegí tu contraseña"></label>
        </div>
        <button class="button-login" value="ingresar">
            Enviar
        </button>
    </form>
</main>
</body>
</html>